<% @priority = "low"%>

<h1>
    <img class="company-logo" src="http://ww1.prweb.com/prfiles/2015/08/24/13706165/codenow%20logo%20large.png"/>    

    <%= @todo_title_main %>
    </h1>

    <ul>

    <% @todos.each do |todo| %>
      <li>
        <input type="checkbox">
        <a href="show/<%= todo.id %>"><%= todo.title %></a>
        <span><%= todo.pomodoro_estimate %> Pomodoro(s)</span>
      </li>
    <% end %>
      
    </ul>
    <div>
    <button class = "add-new-todo-button" id = "add-new-todo-button"> <a href="new">Add a new task</a></button>
    </div>
    
    