 <h1>
      <%= @todo_title %>
    </h1>

    <div>
      <input type="checkbox">
      <h2><%= params[:id]%>. <%= @todo_task_title %></h2>
      <span><%= @todo_count %> Pomodoros</span>
      <a href="#" id="edit-todo-button">Edit</a>
      <a href="#" id="delete-todo-button">Delete</a>
      <a href="/todo/index.html" class="simple-link">Go back...</a>
    </div>